.container-full {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.container-narrow {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 2px dashed #56517E;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
}

.container-wide {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 90%;
    margin-left: 20px;
    border: 2px dashed #56517E;
    justify-content: space-between;
}

.button {
  border: none;
  color: white;
  background-color: #56517E;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  font-family: "Courier New", Courier, monospace;
  transition-duration: 0.4s;
}

.button:hover {
    background-color: #7771a7ab;
}

body {
   font-family: "Courier New", Courier, monospace;
}

table {
    padding: 0px;
}

th, td {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

th {
    background-color: #7771a7ab;
}

img {
    max-width: 100%;
    height: auto;
}

.portfolio-table {
   width: 100%;
   table-layout: fixed;
}

